{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 상세페이지</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <h1>{{ post.title }}</h1>

    <br />
    <div class="content">{{ post.content }}</div>
    <br />
    <span>{{ post.upload_time }}</span>
    <div>{% for hashtag in post.hashtag.all %} #{{ hashtag }} {% endfor %}</div>
    <br />
    <form method="POST" action="{% url 'like_post' post.id %}">
      {% csrf_token %}
      <button type="submit">좋아요 {{ like_count }}</button>
    </form>
    <br />

    <a href="{% url 'delete' post.id %}">삭제하기</a>
    <a href="{% url 'update_page' post.id %}">수정하기</a>
    <a href="{% url 'main' %}">홈으로 돌아가기</a>

    <hr />
    <a href="{% url 'add_comment' post.id%}" class="add_comment">댓글달기</a>

    <br />
    <br />
    {% for comment in post.comments.all %}
    <div class="comment">
      <strong class="username">{{ comment.username}}</strong>
      <div class="date">{{comment.create_at}}</div>
      <p>{{comment.comment_text | linebreaks}}</p>
    </div>
    {% empty %}
    <p>no comments yet</p>

    {% endfor %}
  </body>
</html>
