{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my commmunity</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <div class="content">
      <h1>🦁아기사자 대나무숲🌳</h1>
      <div class="my-info">
        {% if not user.is_authenticated %}
        <a href="{%url 'signup' %}">회원가입하기</a>
        <a href="{%url 'login' %}">로그인하기</a>
        {% endif %} {% if user.is_authenticated %}
        <a href="{%url 'logout' %}">로그아웃하기</a>
        <p>
          내 닉네임: {{user.username}}
          <br />
          <br />아이디:{{user.username}} / 닉네임: {{user.nickname}} /
          대학:{{user.university}} / 위치: {{user.location}} / 최애:
          {{user.favorites}}
        </p>
        {% endif %}
      </div>

      <div class="post">
        <h2>📘 Post 게시판</h2>
        <a href="{%url 'new' %}">새로운 post 만들기!</a>
        <ul>
          {% for post in posts %}
          <li>
            <a href="{% url 'detail' pk=post.id%}">{{post.title}}</a>
            <span>{{post.upload_time}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="question">
      <h2>? Question 게시판</h2>
      <a href="{%url 'question_new' %}">새로운 question 만들기!</a>
      <ul>
        {% for question in questions %}
        <li>
          <a href="{% url 'question_detail' pk=question.id%}"
            >{{question.title}}</a
          >
          <span>{{question.upload_time}}</span>
        </li>
        {% endfor %}
      </div>
      </ul>
    </div>
  </body>
</html>
