{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/list_style.css' %}">
</head>

<body>
  <div class="title">
    <h1> 🦁아기사자 대나무숲🌴 </h1>
  </div>

  <div class="post">
    <h2> ✍️ Post ✍️ </h2>
    <ul>
      {% for post in posts %}
        <li><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a>
          <span>{{post.upload_time}}</span></li>
      {% endfor %}
    </ul>
  </div>

  <div class="question">
    <h2> ❓ Q&A ❓ </h2>
    <ul>
      {% for question in questions %}
        <li><a href="{% url 'question_detail' pk=question.id %}">{{question.title}}</a>
          <span>{{question.upload_time}}</span></li>
      {% endfor %}
    </ul>
  </div>
</body>